
<a routerLink="/pessoa">
  <button mat-flat-button color="accent">Nova
    <mat-icon aria-label="Nova Pessoa">exposure_plus_1</mat-icon>
  </button>
</a>
<hr>
<table mat-table [dataSource]="pessoas?.content" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> E-mail </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="enderecos">
    <th mat-header-cell *matHeaderCellDef> Endereços </th>
    <td mat-cell *matCellDef="let element"> {{element.enderecos.length}} </td>
  </ng-container>

  <ng-container matColumnDef="acao">
    <th mat-header-cell *matHeaderCellDef> Ações </th>
    <td mat-cell *matCellDef="let element">
      <button mat-button routerLink="/pessoa/{{element.id}}/editar"><i class="material-icons">create</i></button>
      <button mat-button (click)="addPhone(element)"><i class="material-icons">home</i></button>
      <button mat-button (click)="remove(element)"><i class="material-icons">clear</i></button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


