<form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-row">
      <div class="form-group col-md-9">
        <label for="inputEmail4">Logradouro</label>
        <input type="logradouro" class="form-control" id="inputEmail4" name="logradouro" placeholder="logradouro">
      </div>
      <div class="form-group col-md-3">
        <label for="inputPassword4">Numero</label>
        <input type="numero" class="form-control" id="inputPassword4" placeholder="numero">
      </div>
    </div>
    
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Complemento</label>
          <input type="complemento" class="form-control" id="inputEmail4" placeholder="complemento">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Bairro</label>
          <input type="bairro" class="form-control" id="inputPassword4" placeholder="bairro">
        </div>
      </div>

    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="inputZip">CEP</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">Estado</label>
        <select id="inputState" class="form-control" name="estado"
          (change)="selectEstado($event.target.value)" [(ngModel)]="selected">
          <option value="" selected>Selecione um Estado...</option>
          <option *ngFor="let estado of estados" [value]="estado">{{estado}}</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="inputCity">Cidade</label>
        <select id="inputCity" class="form-control" name="cidade" [(ngModel)]="select">
          <option value="" selected>Selecione...</option>
          <option *ngFor="let cidade of cidades?.content" [value]="cidade">{{cidade.nome}}</option>
        </select>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </form>